<%- include('./partials/header.ejs') %>

<div class="container mb-3 mt-3">
  <div class="row justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="col-4">
       <% if (errors?.message) { %>
          <p style="color: red;"><%= errors.message %></p>
        <% } %>
  <form method="POST" action="/register"  novalidate> <!--novalidate attribute is used to disable browser validation-->
      <h2 class="mb-4"><%= title %></h2>
  <div class="mb-3">
    <input type="text" name="fullName" placeholder="Full Name"  aria-describedby="fullNameHelp" class="form-control" value="<%= formData?.fullName || '' %>" /> <!--if formData is not null then use its fullName property otherwise use empty string-->
    <% if (errors?.fullName) { %>
      <div style="color: red;"><%= errors.fullName %></div>
    <% } %>
    </div>

    <div class="mb-3">
    <input type="text" name="username" placeholder="Username" aria-describedby="usernameHelp" class="form-control" value="<%= formData?.username || '' %>" />
    <% if (errors?.username) { %>
      <div style="color: red;"><%= errors.username %></div>
    <% } %>
    </div>

    <div class="mb-3">
    <input type="email" name="email" class="form-control"  aria-describedby="email" placeholder="Email" value="<%= formData?.email || '' %>" />
    <% if (errors?.email) { %>
      <div style="color: red;"><%= errors.email %></div>
    <% } %>
    </div>

    <div class="mb-3">
          <input type="password" name="password" placeholder="Password"  aria-describedby="passwordHelp" class="form-control" />
    <% if (errors?.password) { %>
      <div style="color: red;"><%= errors.password %></div>
    <% } %>
    </div>

    <button type="submit" class="btn btn-dark rounded mb-3"  aria-describedby="registerButton">Register</button>
      <p>Already have an account? <a href="/login">Login here</a></p>
  </form>
        </div>
  </div>
</div>

<script src="/js/bootstrap.bundle.min.js"></script>
<%- include('partials/footer') %>
